@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
<form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
        <li class="nav-item">
            <a href="/Identity/Account/logout">Sign out</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Account</a>
        </li>
       
}
else
{
        <li class="nav-item">
            <a href="/Identity/Account/login">Sign in</a>
        </li>

}
    </form>