@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
<form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
        <ul>
            <li>
                <a href="/Identity/Account/logout">Sign out</a>
            </li>
        </ul>
}
else
{
    <ul>
        <li><a href="/Identity/Account/login">Sign in</a></li>
    </ul>
}
    </form>